{
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "plugins": [
    "react",
    "import",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "__DEV__": false,
    "__TEST__": false,
    "__PROD__": false,
    "__COVERAGE__": false
  },
  "rules": {
    "no-unused-vars": "warn",
    "react/display-name": 0,
    "import/no-unused-modules": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "key-spacing": 0,
    "jsx-quotes": [
      2,
      "prefer-single"
    ],
    "max-len": "off",
    "object-curly-spacing": [
      2,
      "always"
    ],
    "no-return-assign": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  }
}