.table-container {
  padding-top: 0;
  min-height: 35vh;
}

.votes-fw {
  width: 2rem;
  display: inline-block;
  text-align: right;
  margin-right: 0.1rem;
}

.sticky {
  tr td:first-of-type,
  tr th:first-of-type {
    padding-left: 0;
  }
}
