.all-acts__card {
  margin: .5rem;
  padding: 1rem !important;
  box-shadow: 0;
  transition: box-shadow .4s;
  border-radius: 0;
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.30);
  }

  @include media-breakpoint-up(md) {
    flex-basis: calc(50% - 1rem);
  }

  @include media-breakpoint-up(lg) {
    flex-basis: calc(33.333% - 1rem);
  }
}

.all-acts__grid {
  margin: -.5rem;
  margin-top: 1rem;
}
