.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.flex-grow {
  flex-grow: 1;
}

.label,
label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9rem;
}

button {
  cursor: pointer
}

label {
    display: block;
}

b {
    font-weight: 600;
}

p a {
    font-weight: bold;
}

ul {
    padding-left: 1rem;
}

footer {
    @extend .clearfix;
    background-color: #e6eaf3;
    font-size: 1rem;
    a {
        font-weight: bold;
    }

    img {
      max-height: 100px;
      max-width: 100%;
    }
}

.text-lg {
    font-size: 1.3rem;
}


.font-weight-light {
    font-weight: 300 !important;
}

thead {
    background: #fff;
    @extend .label;
    width: 100%;
}
.table--top-row-fixed thead {
  //why does this work ????
  display: table;
}

.tinted-background {
    background-color: $gray-lighter;
    padding: .5rem;
    @include media-breakpoint-up(md) {
        padding: 2rem;
    }
}

.heading-font {
    font-family: $headings-font-family;
}

.badge a {
    color: #fff;

    &:focus,
    &:hover {
        color: #fff;
    }
}

.vertical-center {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
@keyframes pulse_animation {
    0% {
      opacity: 1;
    }

    100% {
      opacity: .5;
    }
}

.loading {
  min-height: 50vh;
  @include media-breakpoint-up(md) {
    h1 {
        font-size: 6rem;
        animation-name: pulse_animation;
        animation-duration: 1.5s;
        transform-origin: 50% 50%;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
    }
    text-align: center;
  }
}

.text-xl {
  font-size: 2rem;
}

.background-text {
  background-image: linear-gradient(to top, white 90%, transparent 90%, transparent);
  display: inline;
}

.btn-icon {
  background-color: #fff;
  padding: .5rem .25rem;
  &:hover, &:focus {
    background-color: fade-out(#000, .95);
  }
}

.rotated {
  transform: rotate(180deg);
  display: inline-block;
}

.table-clickable-rows tr {
  cursor: pointer;
}
