
header {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  @extend .heading-font;
  z-index: 5;
  position: relative;
}

.header__home-link {
    color: $body-color;
    &:hover, &:focus {
      text-decoration: none;
    }
}

header nav ul {
  list-style-type: none;
}


//yeah yeah i know its bad :P
header a {
  @extend .text-lg;
}
