.pltfm-logo-container {
    margin-right: 2rem;
    @include media-breakpoint-down(sm) {
      display: none;
    }
}

.pltfm-logo {
    max-height: 150px;
    width: 110px;
}

.pltfm-logo--compressed {
    max-height: 140px;
    width: 100px;
    margin: 5px;
}

.heading__pltfm-logo {
    font-weight: 400;
    margin-bottom: 0;
}
