.metadata {
  @include media-breakpoint-down(xs) {
    margin-bottom: 2rem !important;
    padding: 1rem;
  }
  max-width: 700px;
  margin: auto;
  padding-top: 2rem;
}

.metadata img {
    max-height: 200px;
    min-height: 130px;
    min-width: 125px;
    margin-right: 2rem;
}
