.metadata, .inverted-tabs {
  max-width: map-get($container-max-widths, xl);
  margin: auto;
}

.table-container {
    padding-top: 0;
    min-height: 35vh;
}

.explanatory-text {
  border: 2px solid $gray-lighter;
  padding: 1rem;
  margin: 2rem 0;
}

.votes-fw {
    width: 2rem;
    display: inline-block;
    text-align: right;
    margin-right: .1rem;
}



.sticky {
  tr td:first-of-type,
  tr th:first-of-type  {
    padding-left: 0;
  }

}
