.search-page {
  padding-top: 1rem;
  font-family: $headings-font-family;
}


.search-form {
  @extend .white-floated;
  @include media-breakpoint-down(md) {
    padding: 2rem 1rem;
    margin-bottom: 3rem;
  }
  @include media-breakpoint-up(md) {
    padding: 3rem 2rem;
  }
}


.search-form .btn-block {
  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
  }
}
