.metadata, .inverted-tabs {
  max-width: map-get($grid-breakpoints, xl);
  margin: auto;
}

.table-container {
    padding-top: 0;
    min-height: 35vh;
}

.explanatory-text {
    max-width: 650px;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.votes-fw {
    width: 2rem;
    display: inline-block;
    text-align: right;
    margin-right: .1rem;
}


.senator-page {
    table p {
        margin-bottom: .5rem;
    }

    table {
        position: relative;
        top: -90px;
    }

    thead {
        background: white;
        border-bottom: 1px solid $gray-lighter;
        box-shadow: 0 2px 1px -2px black;
    }

    th {
        border-top: 0;
        @extend .label;
    }

    .badge {
        margin-right: 2px;
    }

    td:first-of-type {
        width: 28%;
    }

    td:nth-of-type(2) {
        width: 45%;
    }

    td:nth-of-type(3) {
        width: 14%;
    }

    .blue-floated {
        max-width: 700px;
        margin: auto auto 2rem;
    }

    .table-container {
        @include media-breakpoint-up(sm) {
            width: 150%;
            position: relative;
            left: -25%;
        }
    }

    .metadata {
        @include media-breakpoint-down(xs) {
            margin-bottom: 2rem !important;
            padding: 1rem;
        }
    }

    .metadata img {
        max-height: 180px;
        min-height: 130px;
        min-width: 125px;
        margin-right: 2rem;
    }

    .badge-default {
        color: $body-color;
        background: $progress-bg;
    }

    caption {
        display: block;
        font-family: $headings-font-family;
    }

    thead {
        width: 100%;
        display: table;
    }
}
