$box-shadow-light: 0 0 20px rgba(0, 0, 0, 0.1);
$box-shadow-medium: 0 0 50px rgba(0, 0, 0, 0.25);
$app-gradient : linear-gradient(to bottom right, #3b65fd, lighten($brand-primary, 12%));

.white-floated {
  background: $white;
  box-shadow: $box-shadow-light;
  padding: 1rem .75rem;
  @include media-breakpoint-up(sm) {
    padding: 2rem;
  }
}
