.RRT__tabs {
    display: flex;
    flex-wrap: nowrap;
}

.RRT__panel {
    margin-top: 0;
    padding: 0;
    border: 0;
}

.RRT__tab {
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 1;
    white-space: nowrap;
    font-family: $headings-font-family;
    font-size: 1rem;
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
    @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }
}

.RRT__tab--selected {
    background: $gray-lighter;
    font-weight: bold;
    border: 0;
}

.RRT__tab--selected:focus {
    background-color: $gray-lighter;
}

.RRT__tab:not(.RRT__tab--selected):hover {
    background-color: fade-out(#000, .95);
}

.inverted-tabs {
   @extend .module-container;
   @extend .module-container--full-width-on-small;
    .RRT__tab--selected {
        background: $white;
    }
}

.tippy-tooltip {
  font-size : 1rem;
  max-width: 400px;
  text-align: left;
  font-family: $font-family-sans-serif;
  padding: 1rem !important;
  p {
    margin-bottom: 0;
  }
  &:focus {
    outline: none;
  }

  a {
    color: $brand-info;
    &:hover, &:focus {
      color: $brand-info;
    }
  }
}

.tippy-popper:focus {
  outline: none;
}
